In [39]:
#import the dataset and replace the "-" with zero
import pandas as pd
import numpy as np
dataset=pd.read_csv("D:\\Python\\Project-1\\Laliga.csv").replace('-',0)

In [2]:
print(dataset.describe())

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

In [5]:
print(dataset.info()) # verify the dataset columns-nullable records

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.7+ KB
None

In [83]:
#Print all the teams which have started playing between 1930-1980.
dataset['Debut1']=dataset['Debut'].str.split("-",expand=True)[0].astype('int') # split the year 1939-40

In [84]:
print(dataset.loc[:,['Debut','Debut1']])

      Debut  Debut1
0      1929    1929
1      1929    1929
2      1929    1929
3   1931-32    1931
4      1929    1929
..      ...     ...
56  2009-10    2009
57  1956-57    1956
58  1951-52    1951
59  1955-56    1955
60  2017-18    2017

[61 rows x 2 columns]

In [85]:
# print the team details where Debut between 1939 and 1980
print(dataset.loc[(dataset['Debut1'] >=1939) & (dataset['Debut1']<=1980)])

    Pos                 Team  Seasons  Points GamesPlayed GamesWon GamesDrawn  \
8     9             Zaragoza       58  2109.0        1986      698        522
10   11  Deportivo La Coruna       45  1814.0        1530      563        392
11   12           Celta Vigo       51  1789.0        1698      586        389
12   13           Valladolid       42  1471.0        1466      463        384
14   15       Sporting Gijon       43  1389.0        1458      471        358
16   17               Malaga       36  1314.0        1255      390        330
18   19             Mallorca       27  1148.0         988      333        256
19   20           Las Palmas       33  1020.0        1096      367        242
21   22              Granada       23   667.0         742      218        175
22   23       Rayo Vallecano       17   662.0         652      189        148
23   24                Elche       21   606.0         678      203        180
26   27             Tenerife       13   510.0         494      155        128
27   28               Murcia       18   445.0         586      145        143
29   30              Levante       11   416.0         402      113         95
30   31            Salamanca       12   375.0         423      123        102
31   32             Sabadell       14   353.0         426      129         95
32   33                Cadiz       12   343.0         448      104        127
34   35            Castellon       11   285.0         334      103         79
37   38              Cordoba        9   230.0         282       82         63
39   40           Recreativo        5   188.0         186       50         46
40   41            Burgos CF        6   168.0         204       59         50
41   42           Pontevedra        6   150.0         180       53         44
46   47            Gimnastic        4    91.0         116       34         16
49   50             Alcoyano        4    76.0         108       30         16
50   51                 Jaen        3    71.0          90       29         13
52   53           AD Almeria        2    52.0          68       17         18
54   55               Lleida        2    40.0          68       13         14
57   58               Condal        1    22.0          30        7          8
58   59      Atletico Tetuan        1    19.0          30        7          5
59   60     Cultural Leonesa        1    14.0          30        5          4

   GamesLost  GoalsFor  GoalsAgainst  ... Fifth Sixth   T    Debut  \
8        766    2683.0        2847.0  ...     4     4  18  1939-40
10       575    2052.0        2188.0  ...     0     1  12  1941-42
11       723    2278.0        2624.0  ...     4     5  11  1939-40
12       619    1767.0        2180.0  ...     1     1   3  1948-49
14       629    1753.0        2152.0  ...     2     1   7  1944-45
16       535    1421.0        1763.0  ...     0     1   2  1949-50
18       399    1182.0        1371.0  ...     2     1   5  1960-61
19       487    1347.0        1746.0  ...     1     1   5  1951-52
21       349     819.0        1157.0  ...     0     2   2  1941-42
22       305     760.0        1088.0  ...     0     0   0  1977-78
23       295     750.0        1022.0  ...     1     1   2  1959-60
26       211     619.0         744.0  ...     2     0   2  1961-62
27       298     607.0         992.0  ...     0     0   0  1940-41
29       194     430.0         632.0  ...     0     1   1  1963-64
30       198     422.0         581.0  ...     0     0   0  1974-75
31       202     492.0         720.0  ...     1     0   2  1943-44
32       217     393.0         662.0  ...     0     0   0  1977-78
34       152     419.0         588.0  ...     2     0   3  1941-42
37       137     285.0         430.0  ...     1     0   1  1962-63
39        90     202.0         296.0  ...     0     0   0  1978-79
40        95     216.0         310.0  ...     0     0   0  1971-72
41        83     165.0         221.0  ...     0     0   0  1963-64
46        66     181.0         295.0  ...     0     0   0  1947-48
49        62     145.0         252.0  ...     0     0   0  1945-46
50        48     121.0         183.0  ...     0     0   0  1953-54
52        33      71.0         116.0  ...     0     0   0  1979-80
54        41      70.0         182.0  ...     0     0   0  1950-51
57        15      37.0          57.0  ...     0     0   0  1956-57
58        18      51.0          85.0  ...     0     0   0  1951-52
59        21      34.0          65.0  ...     0     0   0  1955-56

   Since/LastApp BestPosition Debut1 Goal_diff_count Goal_diff_count1  \
8        2012-13            2   1939          -164.0           -164.0
10       2014-15            1   1941          -136.0           -136.0
11       2012-13            4   1939          -346.0           -346.0
12       2013-14            4   1948          -413.0           -413.0
14       2015-16            2   1944          -399.0           -399.0
16       2008-09            4   1949          -342.0           -342.0
18       2012-13            3   1960          -189.0           -189.0
19       2015-16            2   1951          -399.0           -399.0
21       2016-17            6   1941          -338.0           -338.0
22       2015-16            8   1977          -328.0           -328.0
23       2014-15            5   1959          -272.0           -272.0
26       2009-10            5   1961          -125.0           -125.0
27       2007-08           11   1940          -385.0           -385.0
29       2015-16            6   1963          -202.0           -202.0
30       1998-99            7   1974          -159.0           -159.0
31       1987-88            4   1943          -228.0           -228.0
32       2005-06           12   1977          -269.0           -269.0
34       1990-91            4   1941          -169.0           -169.0
37       2014-15            5   1962          -145.0           -145.0
39       2008-09            8   1978           -94.0            -94.0
40       1979-80           12   1971           -94.0            -94.0
41       1969-70            7   1963           -56.0            -56.0
46       2006-07            7   1947          -114.0           -114.0
49       1950-51           10   1945          -107.0           -107.0
50       1957-58           14   1953           -62.0            -62.0
52       1980-81           10   1979           -45.0            -45.0
54       1993-94           16   1950          -112.0           -112.0
57       1956-57           16   1956           -20.0            -20.0
58       1951-52           16   1951           -34.0            -34.0
59       1955-56           15   1955           -31.0            -31.0

    Winning Percent
8         35.146022
10        36.797386
11        34.511190
12        31.582538
14        32.304527
16        31.075697
18        33.704453
19        33.485401
21        29.380054
22        28.987730
23        29.941003
26        31.376518
27        24.744027
29        28.109453
30        29.078014
31        30.281690
32        23.214286
34        30.838323
37        29.078014
39        26.881720
40        28.921569
41        29.444444
46        29.310345
49        27.777778
50        32.222222
52        25.000000
54        19.117647
57        23.333333
58        23.333333
59        16.666667

[30 rows x 24 columns]

In [86]:
#Print the list of teams which came Top 5 in terms of points
dataset['Points']=dataset['Points'].astype(float) #convert the object type to float to choose the top 5
dataset.nlargest(5,'Points')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Goal_diff_count,Goal_diff_count1,Winning Percent
0,1,Real Madrid,86,4385.0,2762,1647,552,563,5947.0,3140.0,...,3,4,79,1929,1929,1,1929,2807.0,2807.0,59.630702
1,2,Barcelona,86,4262.0,2762,1581,573,608,5900.0,3114.0,...,4,6,83,1929,1929,1,1929,2786.0,2786.0,57.241130
2,3,Atletico Madrid,80,3442.0,2614,1241,598,775,4534.0,3309.0,...,7,6,56,1929,2002-03,1,1929,1225.0,1225.0,47.475134
3,4,Valencia,82,3386.0,2664,1187,616,861,4398.0,3469.0,...,10,7,50,1931-32,1987-88,1,1931,929.0,929.0,44.557057
4,5,Athletic Bilbao,86,3368.0,2762,1209,633,920,4631.0,3700.0,...,8,10,49,1929,1929,1,1929,931.0,931.0,43.772629

In [91]:
# find the Goal_diff_count = GoalsFor - GoalsAgainst and choose the max/min team
dataset['Goal_diff_count']=dataset['GoalsFor'].astype(float)-dataset['GoalsAgainst'].astype(float)

In [161]:
#print(dataset.loc[:,['GoalsFor','GoalsAgainst','Goal_diff_count']])
#print(dataset.loc[:,['Team','Goal_diff_count']])
#print(dataset.loc[:,['Team','Goal_diff_count']].sort_values(by='Goal_diff_count',ascending=False))
print("Max Goal Team",dataset[['Team','Goal_diff_count']][dataset.Goal_diff_count==dataset.Goal_diff_count.max()])
print("MIn Goal Team",dataset[['Team','Goal_diff_count']][dataset.Goal_diff_count==dataset.Goal_diff_count.min()])

Max Goal Team           Team  Goal_diff_count
0  Real Madrid           2807.0
MIn Goal Team                 Team  Goal_diff_count
13  Racing Santander           -525.0

In [162]:
##Another approach to print the Max and min goal team using function
dataset['GoalsFor']=dataset['GoalsFor'].astype('float')
dataset['GoalsAgainst']=dataset['GoalsAgainst'].astype('float')

In [163]:
#print(dataset.loc[(dataset['Debut1']>'1939') & (dataset['Debut1']<'1980')])
def fun_Goal_diff_count1(dataset):
    dataset['Goal_diff_count1']=dataset.apply(lambda row:row['GoalsFor']-row['GoalsAgainst'],axis=1)
    print('Max Goal Team:',dataset.loc[:,['Team','Goal_diff_count']].max()," Goals :",dataset['Goal_diff_count1'].max())
    print('MIN Goal Team:',dataset.loc[(dataset['Goal_diff_count1']==dataset['Goal_diff_count1'].min())]['Team']," Goals :",dataset['Goal_diff_count1'].min())

In [164]:
print(fun_Goal_diff_count1(dataset))

Max Goal Team: Team               Zaragoza
Goal_diff_count        2807
dtype: object  Goals : 2807.0
MIN Goal Team: 13    Racing Santander
Name: Team, dtype: object  Goals : -525.0
None

In [165]:
#create the column- winning percent 
dataset['Winning Percent']=(dataset['GamesWon'].astype('float')/dataset['GamesPlayed'].astype('float'))*100

In [166]:
#create the column- winning percent 
print(dataset.nlargest(5,'Winning Percent')[['Team','Winning Percent']])

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

In [167]:
#print the best position team
print(dataset.groupby(['BestPosition'])['Points'].sum())

BestPosition
1     27933.0
2      6904.0
3      5221.0
4      6563.0
5      1884.0
6      2113.0
7      1186.0
8      1134.0
9        96.0
10      450.0
11      445.0
12      511.0
14       71.0
15       14.0
16       81.0
17      266.0
19       81.0
20       34.0
Name: Points, dtype: float64